<div class="container mt-5">
  <nav aria-label="...">
    <ul class="pagination justify-content-center" appClass>
      <li class="page-item" [appClass]="{disabled: currentPage === 0}">
        <span class="page-link" (click)="currentPage = currentPage - 1">Previous</span>
      </li>
      <ng-container *appTimes="images.length; let i = index">
        <li class="page-item" [appClass]="{active: i === currentPage}" *ngIf="checkWindowIndex(i)">
          <a href="#" class="page-link" (click)="currentPage = i">{{i + 1}}</a>
        </li>
      </ng-container>
      <li class="page-item" [appClass]="{disabled: currentPage === images.length - 1}">
        <a class="page-link" href="#" (click)="currentPage = currentPage + 1">Next</a>
      </li>
    </ul>
  </nav>

  <div class="text-center">
    <h4>{{images[currentPage].title}}</h4>
    <img [src]="images[currentPage].url">
  </div>
</div>

<ul *appTimes="5">
  <li>Hello</li>
</ul>
