<div class="container">
  <h2>Payment Form</h2>
  <div class="row">
    <div class="form-group col">
      <label for="name">Payee Name</label><br />
      <input
        type="text"
        id="name"
        class="form-control"
        name=""
        value=""
        (input)="onNameChange($event)"
      />
    </div>
    <div class="col">
      <label for=""><b>Name</b></label>
      <div>
        {{ name | titlecase }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label for="name">Payment Date</label><br />
      <input
        type="date"
        id="date"
        class="form-control"
        name=""
        value=""
        (input)="onDateChange($event)"
      />
    </div>
    <div class="col">
      <label for=""><b>Payment Date</b></label>
      <div>
        {{ date | date : "MMMM d, y" }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label for="amount">Amount</label><br />
      <input
        type="number"
        id="amount"
        class="form-control"
        name=""
        value=""
        (input)="onAmountChange($event)"
      />
    </div>
    <div class="col">
      <label for=""><b>Amount</b></label>
      <div>
        {{ amount | currency : "VND" }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label for="amount">Height</label><br />
      <input
        type="text"
        id="amount"
        class="form-control"
        (input)="onHeightChange($event)"
      />
    </div>
    <div class="col">
      <label for=""><b>Height</b></label>
      <div>
        {{ height | number : "1.0-2" }}
      </div>
    </div>
  </div>
</div>

{{ car | json }}
