<h1>Password Generator</h1>
<div>
  <label for="input-length">Length: </label> <br />
  <input id="input-length" (input)="onInputLength($event)" />
</div>
<div>
  <input
    type="checkbox"
    id="checkbox-numbers"
    (change)="onChangeUseNumbers()"
  />
  <label for="checkbox-numbers">Include Numbers </label> <br />
</div>
<div>
  <input
    type="checkbox"
    id="checkbox-characters"
    (change)="onChangeUseCharacters()"
  />
  <label for="checkbox-characters">Include Characters</label> <br />
</div>
<div>
  <input
    type="checkbox"
    id="checkbox-symbols"
    (change)="onChangeUseSymbols()"
  />
  <label for="checkbox-symbols">Include Symbols</label> <br />
</div>

<button [disabled]="!isEnableBtn" (click)="onButtonClick()">Generate!</button>

<div>
  <label for="input-result">Result: </label><br />
  <input id="input-result" [value]="password" />
</div>
{{ password }} <br />
{{ "hello phuong" }} <br />
{{ getName() }}
