<h1>Password Generator</h1>
<div>
  <label for="input-length">Enter Length: </label> <br />
  <input />
</div>
<div>
  <input type="checkbox" id="checkbox-letters" />
  <label for="checkbox-letters">Use Letters</label>
</div>
<div>
  <input type="checkbox" id="checkbox-numbers" />
  <label for="checkbox-numbers">Use Numbers</label>
</div>
<div>
  <input type="checkbox" id="checkbox-symbols" />
  <label for="checkbox-symbols">Use Symbols</label>
</div>

<div><button>Generate!</button></div>

<div>
  <label for="password-result">Your Password</label> <br />
  <input />
</div>
