<h1>Password Generator</h1>
<div class="field">
  <label for="input-length" class="label">Length: </label>
  <div class="control">
    <input
      class="input"
      placeholder="Enter length of password!"
      id="input-length"
      (input)="onInputLength($event)"
    />
  </div>
</div>
<div class="field">
  <div class="control">
    <label for="checkbox-numbers">
      <input
        type="checkbox"
        id="checkbox-numbers"
        (change)="onChangeUseNumbers()"
      />

      Include Numbers &nbsp;
    </label>
    <label class="checkbox" for="checkbox-characters">
      <input
        type="checkbox"
        id="checkbox-characters"
        (change)="onChangeUseCharacters()"
      />

      Include Characters &nbsp;
    </label>
    <label class="checkbox" for="checkbox-symbols">
      <input
        type="checkbox"
        id="checkbox-symbols"
        (change)="onChangeUseSymbols()"
      />
      Include Symbols &nbsp;
    </label>
  </div>
</div>

<div class="field">
  <div class="control">
    <button
      class="button is-link"
      [disabled]="
        !(length && (includeNumbers || includeCharacters || includeSymbols))
      "
      (click)="onButtonClick()"
    >
      Generate!
    </button>
  </div>
</div>

<div class="field">
  <label for="input-result" class="label">Result: </label>
  <div class="control">
    <input id="input-result" [value]="password" class="input" />
  </div>
</div>
{{ password }} <br />
{{ "hello phuong" }} <br />
{{ getName() }}
